.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 65px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

button.ctrl-button {
	display: block;
	width: calc(100% - 12px);
	padding: 6px;
	margin: 20px 6px;
	font-size: 16px;
	border: none;
	background-color: #115c63;
	color: #fff;
	outline: none;
}

button.ctrl-button:disabled {
	background-color: #458086;
	color: #c0c0c0;;
}

button img {
	position: relative;
	top: 3px;
	margin-right: 6px;
}